.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: content-box;
    margin: 250px;
    margin-top: 14px;
    flex-direction: row; 
     align-content: stretch;
    align-items: stretch; 
    border: 1px ridge azure;
    border-radius: 50px;
  }
  
  .product {
    display:flexbox;
    flex-wrap: wrap;
    flex-direction: revert;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    padding: 125px;
    
  }
  
  
  .product img {
    height: 250px;
    width: 250px;
    object-fit: contain;
    transition: transform 0.3s; /* Add transition for smooth animation */
  }
  
  .product img:hover {
    transform: scale(1.1); /* Increase size on hover */
  }
  
  
  
  .category {
    text-align: center;
  }
  
  .product h3 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .product p {
    margin-bottom: 10px;
  }
  
  .product-price {
    font-weight: bold;
  }
  