.home-main{
    background: rgb(53, 56, 56);
    margin-top: -55px;
    height: 48pc;
}
img{
    width: 100pc;
    margin-left: 170px;
}
.why-shop{
    text-align: center;
    max-width: 45rem;
    width: 100%;
    margin: auto;
    margin-top: -40rem;
    position: relative;
    background-color: #796262;
    color: rgb(247, 233, 233);
    border-radius: 35px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}
.why-shop h3 {
    text-align: center;
    text-decoration: underline;
    font-size: large;
    color: #ffffff;
}
.why-shop h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}