.footer {
    position: inherit;
    /* right: 0;
    bottom: 0;
    left: 0; */
    padding: 1rem;
    background-color: #a3c264;
    text-align: center;
   
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }