header {
    text-align: center;
      background:#777;
      color:white;
    }
    
  h2 {
    padding:18px;
    font-size:57px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  